[Desktop Entry]
Name=SugarCRM Contacts and Tasks
Name[es]=Contactos y tareas de SugarCRM
Name[it]=Contatti e attività SugarCRM
Name[nl]=Contacten en taken van SugarCRM
Name[pt]=Contactos e Tarefas do SugarCRM
Name[pt_BR]=Contatos e tarefas do SugarCRM
Name[sv]=SugarCRM-kontakter och uppgifter
Name[uk]=Записи контактів та завдань з SugarCRM
Name[x-test]=xxSugarCRM Contacts and Tasksxx
Comment=Addressbooks and Tasklists from SugarCRM Webservices
Comment[de]=Adressbücher und Aufgabenlisten vom SugarCRM-Webdienst
Comment[es]=Libreta de direcciones y lista de tareas para los servicios web de SugarCRM
Comment[it]=Rubriche ed elenchi delle attività dai servizi web SugarCRM
Comment[nl]=Adresboeken takenlijsten van SugarCRM webservices
Comment[pt]=Livro de endereços e listas de tarefas dos serviços Web do SugarCRM
Comment[pt_BR]=Livros de endereços e listas de tarefas do serviço Web do SugarCRM
Comment[sv]=Adressböcker och uppgiftslistor från SugarCRM-webbtjänster
Comment[uk]=Адресні книги та списки завдань з вебслужб SugarCRM
Comment[x-test]=xxAddressbooks and Tasklists from SugarCRM Webservicesxx
Type=AkonadiResource
Exec=akonadi_sugarcrm_resource
Icon=text-directory

X-Akonadi-MimeTypes=text/directory,application/x-vnd.akonadi.calendar.todo
X-Akonadi-Capabilities=Resource
X-Akonadi-Identifier=akonadi_sugarcrm_resource
