[Desktop Entry]
Name=SugarCRM Contacts
Name[de]=SugarCRM-Kontakte
Name[es]=Contactos de SugarCRM
Name[et]=SugarCRM kontaktid
Name[km]=ទំនាក់ទំនង SugarCRM
Name[nds]=SugarCRM-Kontakten
Name[nl]=Contacten van SugarCRM
Name[pt]=Contactos do SugarCRM
Name[pt_BR]=Contatos do SugarCRM
Name[sv]=SugarCRM-kontakter
Name[uk]=Записи контактів з SugarCRM
Name[x-test]=xxSugarCRM Contactsxx
Comment=Addressbook from SugarCRM Webservices
Comment[es]=Libreta de direcciones para los servicios web de SugarCRM
Comment[et]=SugarCRM veebiteenuste aadressiraamat
Comment[km]=សៀវភៅ​អាសយដ្ឋាន​ពី​សេវា​កម្ម​បណ្ដាញ SugarCRM
Comment[nds]=Addressbook vun SugarCRM-Nettdeensten
Comment[nl]=Adresboek van SugarCRM webservices
Comment[pt]=Livro de endereços dos serviços Web do SugarCRM
Comment[pt_BR]=Livro de endereços do serviço Web do SugarCRM
Comment[sv]=Adressbok från SugarCRM-webbtjänster
Comment[uk]=Адресна книга з вебслужб SugarCRM
Comment[x-test]=xxAddressbook from SugarCRM Webservicesxx
Type=AkonadiResource
Exec=akonadi_sugarcrm_resource
Icon=text-directory

X-Akonadi-MimeTypes=inode/directory,text/directory
X-Akonadi-Capabilities=Resource
X-Akonadi-Identifier=akonadi_sugarcrm_resource
