[Desktop Entry]
Name=SugarCRM Contacts and Tasks
Comment=Addressbooks and Tasklists from SugarCRM Webservices
Type=AkonadiResource
Exec=akonadi_sugarcrm_resource
Icon=text-directory

X-Akonadi-MimeTypes=inode/directory,text/directory,application/x-vnd.akonadi.calendar.todo
X-Akonadi-Capabilities=Resource
X-Akonadi-Identifier=akonadi_sugarcrm_resource
